.nav{
  height: 50px;
  width: 100%;
  background-color: turquoise;
}
.nav-item{
  float: left;
  margin-left: 1%;
}
.vertical-rule{
  background-color: black;
  height: 50px;
  width: 10px;
}

.array-container{
  padding-top: 10px;
}
.array-bar-container{
  padding: 1px;
}
.array-bar{
  background-color: turquoise;
  height: 2px;
  margin: auto;
}
